/*
* -- THREEJS RHINO --
*/

.interaction-container {
    width: screen.width;
    padding: 10px;
}

.colorSlider {
    
}

#redChannel {
    
}

#blueChannel {
    
}

#greenChannel {
    
}

#sendToRhino {
    
}

/*
* --MAIN PAGE STYLES--
*/

.img-with-text {
    text-align: center;
    width: 150px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.theme {
    
}

/*
* -- COLOR SLIDERS STYLES --
*/



/*
*--TWITTER STYLES --
*/

.tweet-container {
    margin:10px 10px 15px;
}

#tweetDisplay {
    overflow-y: scroll; 
    height:400px;
}

.tweet {
    border: 1px solid grey;
}