/*
* --MAIN PAGE STYLES--
*/
body {
  font-family: courier;
}

.sliderBackg {
    background-size: 768px 1024px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.indexBackg {
    background-image: url("../img/assets/ipad-rhino-slider-backg.png");
    background-size: 768px 1024px;
    position: fixed;
    width: 768px;
    height: 1024px;
    top: 0;
    left:50%;
    margin-left: -384px;
}​

.tweetBackg {
    background-size: 768px 1024px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tweetbackg {
    background-image: url("../img/assets/ipad-rhino-tweet-backg.png");
    background-size: 768px 1024px;
    position: fixed;
    width: 768px;
    height: 1024px;
    top: 0;
    left:50%;
    margin-left: -384px;
}​

.button-to-tweets {

}

.button-to-tweets a {
    position: fixed;
    text-align: center;
    width: 500px;
    top: 300px;
    left: 50%;
    margin-left: -250px;
}

.button-to-tweets img {
    height: 50px;
    width: 500px;
}

.button-to-index {
    position: fixed;
    text-align: center;
    width: 500px;
    top: 308px;
    left: 50%;
    margin-left: -250px;
}

.button-to-index img{
    height: 40px;
    width: 500px;
}

.theme-hashtags {
    font-family: courier;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    top: 412px;
    color: rgb(38,161,208);
}

.tweet-footer {
    font-family: courier;
    text-align: center;
    position: fixed;
    width: 80%;
    top: 840px;
    left: 50%;
    margin-left: -40%;
}

/*
* -- LED MAPPING STYLE
*/

.led-mapping {
    /*display: none;*/
    /*-webkit-transform:translateX(1024px);*/
}

/*
* -- THEME STYLES --
*/

.theme-container {
    text-align: center;
    position: fixed;
    width: 700px;
    top: 600px;
    left: 50%;
    margin-left: -450px;
}

.button-theme {
    position: absolute;
}

.button-theme img {
    height: 50px;
    width: 200px;
}

.javan-btn {
    position: fixed;
    top: 740px;
    left: 70px;
}

.sunrise-btn {
    position: fixed;
    top: 800px;
    left: 140px;
}

.rainy-btn {
    position: fixed;
    top: 800px;
    right: 140px;
}

.olympics-btn {
    position: fixed;
    top: 740px;
    right: 70px;
}

.button-text {
    position: fixed;
    color:black;
    text-decoration: none;
    font-family: courier;
    font-weight: lighter;
    font-size: 1.5em;
    letter-spacing: 0;
    background-color: transparent;
    pointer-events: none;
    cursor: default;
}

.javan-text {
    top: 729px;
    left: 130px;
}

.sunrise-text {
    top: 789px;
    left: 190px;
}

.rainy-text {
    top: 789px;
    right: 210px;
}

.olympics-text {
    top: 729px;
    right: 110px;
}

/*
*--TWITTER STYLES --
*/
.tweet-container {
    text-align: center;
    position: fixed;
    top: 470px;
    width:500px;
    left:50%;
    margin-left: -250px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

}

#tweetDisplay {
    overflow-y: scroll;
    height:300px;
}

.tweet {
    text-align: left;
}

.tweet img {
    float: left;
    padding:5px;
    padding-right:10px;
}

.tweet p {
    margin-left: 60px;
}

.userName {
    font-weight: bold;
    font-size:1.2em;
    padding-right: 10px;
}

.screenName {
    font-size:1em;
}

.timeStamp {
    font-size:0.8em;
    float: right;
    font-weight: lighter;
    padding-right: 5px;
    padding-top: 5px;
}
